table.audio-controller {
  width: 90%;
  border: 1px solid #ddd;
  border-radius: 0.25rem;
  padding: 1rem;
  align-items: center;
  text-align: left;
  margin: 2em auto;
}

td {
  padding: 1rem;
}

div.audioPreview,
div.transcription {
  padding: 1rem;
}

div.transcription {
  max-width: 600px;
}

strong {
  display: block;
  font-weight: bold;
}